/*   ============ RESET UN DE BASE ============   */
/* Supprimer toutes les marges de la page */
* {
  margin: 0;
  padding: 0;
}


/* ======HEADER====== */
header {
  display: flex;
  grid-template-columns: 1fr;
  background: #D8860B;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0px;
  position: sticky;
  border-bottom: 1px solid black;
  top: 0;
  letter-spacing: 3px;
}

/* LOGO DU MENU */
.divheader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logomenu {
  width: 55px;
  height: 55px;
}

.btn-accueil {
  background: #D8860B;
  color: black;
  padding: auto;
  margin-right: 6px;
  font-size: 0px;
  border-radius: 100%;
  border: 0px solid black;
  margin-right: 3px;
}

/* /LOGO DU MENU */

/* MENU */
.topmenu {
  color: #000000;
  font-size: 150%;
  font-weight: bolder;
  font-family: Kalnia;
  text-decoration: none;
}

span {
  color: #D8860B;
  font-size: 140%;
  text-align: center;
  font-weight: bold;
  font-family: 'Great Vibes', cursive;
  text-decoration: none;
  letter-spacing: 5px;
}

.menu a {
  border: 1.5px solid black;
  border-radius: 6px;
  padding: 5px;
}



a:hover {
  background-color: #000000a5;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

a:active {
  background-color: #ad9c81f3;
  color: rgba(0, 0, 0, 0.509);
}

a {
  padding: 7px;
  border: 1.5px solid black;
  border-radius: 5px;
  background-color: #E2E2E2;
}

h1 {
  font-family: 'Great Vibes', cursive;
}

/* /MENU */



/* ======MAIN====== */

/* HERO SECTION */

#logo {
  width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.logo{


}

/* /HERO SECTION */