/*   ============ RESET UN DE BASE ============   */
/* Supprimer toutes les marges de la page */
* {
  margin: 0;
  padding: 0;
}

/* ======BODY====== */
body {
  overflow-x: hidden;
  /* Empêche le débordement horizontal */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ======HEADER====== */
header {
  display: flex;
  grid-template-columns: 1fr;
  background: #D8860B;
  border-bottom: 1px solid black;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0px;
  position: sticky;
  top: 0;
  letter-spacing: 3px;
  z-index: 1000;
}

/* LOGO DU MENU */
.divheader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logomenu {
  width: 50px;
  height: 50px;
}

.btn-accueil {
  background: #D8860B;
  color: black;
  padding: auto;
  margin-right: 6px;
  font-size: 0px;
  border-radius: 100%;
  border: 0px solid black;
  margin-right: 2px;
}

/* [END]LOGO DU MENU */

/* MENU NAV */
.topmenu {
  color: #000000;
  font-size: 150%;
  font-weight: bolder;
  font-family: Kalnia;
  text-decoration: none;
  text-shadow:
    1px 1px 0 black;
}

span {
  color: #D8860B;
  font-size: 140%;
  text-align: center;
  font-weight: bold;
  font-family: 'Great Vibes', cursive;
  text-decoration: none;
  letter-spacing: 6px;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.menu a {
  border: 1.5px solid black;
  border-radius: 6px;
  padding: 5px;
}

a:hover {
  background-color: #000000a5;
  color: rgb(255, 255, 255);
  transition: 0.1s;
}

a:active {
  background-color: #ad9c81f3;
  color: rgba(0, 0, 0, 0.509);
}

a {
  padding: 7px;
  border: 1.5px solid black;
  border-radius: 5px;
  background-color: #E2E2E2;
}

h1 {
  font-family: 'Great Vibes', cursive;
}

/* [END]MENU NAV */



/* ======MAIN====== */

/* HERO SECTION */
#background-photo {
  display: block;
  height: auto;
  width: 100%;
  border-bottom: 1px solid #000000;
}

.image-container {
  position: relative;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.logo {
  position: absolute;
  width: 70%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* [END]HERO SECTION */


/* SECTION "NOS RECETTES" */
.lemenu {
  width: 25%;
  padding: 50px;
  display: inline-block;
}

#carte {
  border: 1px solid black;
  border-radius: 10px;
}

/* SECTION "MENU & FOOD TRUCK" */



/* SECTION "PHILOSOPHIE" */


/* ======FOOTER====== */
footer {
  display: flex;
  grid-template-columns: 1fr;
  background: #000000;
  border-top: 2px solid #D8860B;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 50px;
  color: white;
  background: #000000;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(216, 134, 11, 1) 100%);
}

#socialmedia {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: center;
}